# Seller's Hedera account ID (to receive payments)
# This is where payments will be sent to
# Create an account at: https://portal.hedera.com
HEDERA_ACCOUNT_ID=0.0.xxx
FLIGHT_SERPAPI=YOUR_FLIGHT_API

# Server port
PORT=4021
